<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
      <ion-row>
         <ion-col col-6 *ngFor = "let casa of casas">
            <ion-card>
              <img *ngIf = "casa.hasOwnProperty('pictures')"
              src = {{casa.pictures[0].url}}>
              <ion-card-header *ngIf = "casa.hasOwnProperty('price')">
                  {{casa.price.formattedAmount}}
              </ion-card-header>

              <ion-card-content>
                <h2 *ngIf = "casa.hasOwnProperty('geo')">
                  {{casa.geo.name}}

                </h2>
              </ion-card-content>
               
              </ion-card>
            </ion-col>
       </ion-row>
    </ion-grid>
    
</ion-content>
//como eliminamos ads, entonces se pone directamente pictures en linea 14
//la imagen viene de ads-pictures en la posicion 0, url
//price viene de la posicion 2 del arreglo de ads
//la ubicacion viene del numero de arreglo de ads, despues en geo y luego en name